<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ting.dao.BusLogMapper">
    <resultMap id="BaseResultMap" type="com.ting.entity.BusLog">
        <id column="log_id" property="logId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="park_id" property="parkId" jdbcType="INTEGER"/>
        <result column="plate" property="plate" jdbcType="VARCHAR"/>
        <result column="rin_time" property="rinTime" jdbcType="TIMESTAMP"/>
        <result column="out_time" property="outTime" jdbcType="TIMESTAMP"/>
        <result column="cost" property="cost" jdbcType="REAL"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from parklog
    where log_id = #{logId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ting.entity.BusLog">
    insert into parklog (log_id, user_id, park_id, 
      plate, rin_time, out_time, 
      cost)
    values (#{logId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{parkId,jdbcType=INTEGER}, 
      #{plate,jdbcType=VARCHAR}, #{rinTime,jdbcType=TIMESTAMP}, #{outTime,jdbcType=TIMESTAMP}, 
      #{cost,jdbcType=REAL})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.ting.entity.BusLog">
    update parklog
    set user_id = #{userId,jdbcType=INTEGER},
      park_id = #{parkId,jdbcType=INTEGER},
      plate = #{plate,jdbcType=VARCHAR},
      rin_time = #{rinTime,jdbcType=TIMESTAMP},
      out_time = #{outTime,jdbcType=TIMESTAMP},
      cost = #{cost,jdbcType=REAL}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select log_id, user_id, park_id, plate, rin_time, out_time, cost
    from parklog
    where log_id = #{logId,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select log_id, user_id, park_id, plate, rin_time, out_time, cost
    from parklog
  </select>

    <select id="selectByTypeOrName" resultMap="BaseResultMap">
        select log_id, user_id, park_id, plate, rin_time, out_time, cost
        from parklog
        <where>
            <if test="id!=null and id!='' ">
                log_id= #{id}
            </if>
            <if test="useid!=null and useid!='' ">
                or user_id =#{useid}
            </if>
        </where>
    </select>
</mapper>